name: CD to NAS (Docker Compose)
on:
  pull_request:
  push:
    branches: [ main ]

permissions:
  contents: read

concurrency:
  group: deploy-wishlist
  cancel-in-progress: true

env:
  IMAGE_NAME: ghcr.io/egor1025/wishlist

jobs:
  build-and-push-image:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy-staging:
    environment: staging
    runs-on: ubuntu-22.04
    needs: build-and-push-image
    timeout-minutes: 10
    steps:
      - name: SSH deploy staging
        uses: appleboy/ssh-action@v1.0.3
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          host: ${{ secrets.NAS_HOST }}
          port: ${{ secrets.NAS_PORT }}
          username: ${{ secrets.NAS_USER }}
          key: ${{ secrets.NAS_SSH_KEY }}
          script: |
            echo "${GITHUB_TOKEN}" | docker login ghcr.io -u "${GITHUB_ACTOR}" --password-stdin
            docker compose -f /volume1/wishlist/compose.staging.yml up -d --pull always --force-recreate --remove-orphans

  deploy-prod:
    environment: production
    runs-on: ubuntu-22.04
    needs: deploy-staging
    timeout-minutes: 10
    steps:
      - name: SSH deploy prod
        uses: appleboy/ssh-action@v1.0.3
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          host: ${{ secrets.NAS_HOST }}
          port: ${{ secrets.NAS_PORT }}
          username: ${{ secrets.NAS_USER }}
          key: ${{ secrets.NAS_SSH_KEY }}
          script: |
            echo "${GITHUB_TOKEN}" | docker login ghcr.io -u "${GITHUB_ACTOR}" --password-stdin
            docker compose -f /volume1/wishlist/compose.prod.yml up -d --pull always --force-recreate --remove-orphans
