name: CD to NAS (Docker Compose)
on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

concurrency:
  group: deploy-prod
  cancel-in-progress: true

env:
  IMAGE_NAME: ghcr.io/egor1025/wishlist:latest

jobs:
  deploy:
    environment: production
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}

      - name: SSH deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.NAS_HOST }}
          port: ${{ secrets.NAS_PORT }}
          username: root
          key: ${{ secrets.NAS_SSH_KEY }}
          script: |
            export PATH=/usr/local/bin:$PATH
            docker --version

            docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
            docker pull ${{ env.IMAGE_NAME }}
            docker compose -f /volume1/wishlist/compose.prod.yml up -d --pull always --force-recreate
